/**
 * Main slider styles
 *
 * @since 1.0.0
 */
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails, .wp-block-mg-block-slider-slider ul,
.wp-block-mg-block-slider-slider ol {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.wp-block-mg-block-slider-slider {
  --slider--items--primary: #ffffff;
  --slider--items--secondary: #111111;
  --slider--items--background: rgba(255, 255, 255, 0.85);
  --slider--z-index--controls: 50;
  --slider--transition-duration--controls: 200ms;
  width: 100%;
  margin-bottom: 1em;
  color: var(--slider--items--secondary);
}
.wp-block-mg-block-slider-slider, .wp-block-mg-block-slider-slider__container {
  position: relative;
  overflow: hidden;
}
.wp-block-mg-block-slider-slider__container:not(.wp-block-mg-block-slider-slider.dragging) .wp-block-mg-block-slider-slide {
  transition-delay: 0.1s;
}
.wp-block-mg-block-slider-slider__container.dragging .wp-block-mg-block-slider-slide {
  transition: transform 0ms linear !important;
}
.wp-block-mg-block-slider-slider__container.thumbnails-nav {
  margin-bottom: 0 !important;
}
.wp-block-mg-block-slider-slider h1,
.wp-block-mg-block-slider-slider h2,
.wp-block-mg-block-slider-slider h3,
.wp-block-mg-block-slider-slider h4,
.wp-block-mg-block-slider-slider h5,
.wp-block-mg-block-slider-slider h6,
.wp-block-mg-block-slider-slider p,
.wp-block-mg-block-slider-slider a,
.wp-block-mg-block-slider-slider span,
.wp-block-mg-block-slider-slider figcaption,
.wp-block-mg-block-slider-slider figure figcaption,
.wp-block-mg-block-slider-slider blockquote,
.wp-block-mg-block-slider-slider cite {
  color: currentColor;
}
.wp-block-mg-block-slider-slider img,
.wp-block-mg-block-slider-slider video,
.wp-block-mg-block-slider-slider picture,
.wp-block-mg-block-slider-slider figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 !important;
}
.wp-block-mg-block-slider-slider video,
.wp-block-mg-block-slider-slider iframe {
  width: 100%;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--next .wp-block-mg-block-slider-slide, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--prev .wp-block-mg-block-slider-slide {
  transition-duration: inherit;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--next .wp-block-mg-block-slider-slide__next, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--prev .wp-block-mg-block-slider-slide__prev {
  transition: none;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current) {
  transform: translate3d(-100%, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
  transform: translate3d(100%, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide {
  width: 100%;
  height: 100%;
  min-height: inherit;
  z-index: 0;
  padding: 0;
  margin: 0;
  background-color: var(--slider--items--primary);
  transition-timing-function: inherit;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-x;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide:not(.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide__current) {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide__prev, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide__next {
  z-index: 1;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide__current {
  z-index: 5;
  transform: translate3d(0, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slide > * {
  margin: 0;
}
.wp-block-mg-block-slider-slider.auto-height .wp-block-mg-block-slider-slide > * {
  height: 100%;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-slide .wp-block-mg-block-slider-slide__prev {
  transform: translate3d(-100%, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-slide .wp-block-mg-block-slider-slide__next {
  transform: translate3d(100%, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-fade .wp-block-mg-block-slider-slide {
  opacity: 0;
  transition-property: opacity;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-fade .wp-block-mg-block-slider-slide__current {
  opacity: 1;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-fade .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current),
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-fade .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
  transform: translate3d(0, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-cards .wp-block-mg-block-slider-slide:not(.wp-block-mg-block-slider-slide__current, .wp-block-mg-block-slider-slide__next) {
  transform: scale(0.96);
  border-radius: 8px;
  overflow: hidden;
  z-index: -1000;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-cards .wp-block-mg-block-slider-slide__current {
  box-shadow: -26px 0 10px -14px rgba(0, 0, 0, 0.15);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-cards .wp-block-mg-block-slider-slide__next {
  transform: translate3d(100%, 0, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical.is-slide .wp-block-mg-block-slider-slide__prev {
  transform: translate3d(0, 100%, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical.is-slide .wp-block-mg-block-slider-slide__next {
  transform: translate3d(0, -100%, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical.is-slide .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current) {
  transform: translate3d(0, -100%, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical.is-slide .wp-block-mg-block-slider-slides__container--2-slides .wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
  transform: translate3d(0, 100%, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical.is-cards .wp-block-mg-block-slider-slide__next {
  transform: translate3d(0, -100%, 0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__arrow {
  width: clamp(24px, 5vw, 40px);
  height: clamp(28px, 5vw, 50px);
  position: absolute;
  top: 0;
  margin: 0;
  z-index: calc(var(--slider--z-index--controls) + 5);
  background: url(../img/arrow.svg) no-repeat center/contain;
  transform-origin: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__arrow--prev, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__arrow--next {
  top: 50%;
  translate: 0 -50%;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__arrow--prev {
  left: 0.25rem;
  transform: rotate(180deg);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__arrow--next {
  right: 0.25rem;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow {
  background-color: var(--slider--items--background);
  background-image: url(../img/arrow-dark.svg);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow {
  height: clamp(40px, 9vw, 60px);
  background-size: 60%;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow--prev {
  left: 0;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow--next {
  right: 0;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow {
  width: clamp(25px, 5vw, 40px);
  height: clamp(25px, 5vw, 40px);
  background-size: 30%;
  background-position: 55% center;
  border-radius: 50%;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow--prev {
  left: 0.5rem;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow--next {
  right: 0.5rem;
}
.wp-block-mg-block-slider-slider .directional-nav--is-hidden .wp-block-mgblockslider-slider__control__arrow {
  transition: opacity var(--slider--transition-duration--controls);
  opacity: 0;
}
.wp-block-mg-block-slider-slider .directional-nav--is-hidden:hover .wp-block-mg-block-slider-slider__control__arrow {
  opacity: 1;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control__arrow--prev, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control__arrow--next {
  top: 0;
  left: 50%;
  margin: auto;
  translate: -50% 0;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control__arrow--prev {
  transform: rotate(-90deg);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control__arrow--next {
  top: unset;
  right: unset;
  bottom: 0.25rem;
  transform: rotate(90deg);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow--prev {
  top: -11px;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow--next {
  bottom: -11px;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow--prev {
  top: 6px;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__container.is-vertical .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow--next {
  bottom: 6px;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dots {
  align-items: center;
  width: 100%;
  height: 40px;
  overflow-x: auto;
  transition: height var(--slider--transition-duration--controls);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dot {
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: 1px solid var(--slider--items--primary);
  border-radius: 50%;
  cursor: pointer;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dot:first-child {
  margin-left: auto;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dot:last-child {
  margin-right: auto;
}
@media screen and (max-width: 1099px) {
  .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dot {
    margin: 0 8px;
  }
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control__dot--current {
  background-color: var(--slider--items--primary);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__dot, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares-block .wp-block-mg-block-slider-slider__control__dot {
  border-radius: 0;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--block, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares-block {
  background-color: var(--slider--items--primary);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--block .wp-block-mg-block-slider-slider__control__dot, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares-block .wp-block-mg-block-slider-slider__control__dot {
  border-color: var(--slider--items--secondary);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--block .wp-block-mg-block-slider-slider__control__dot--current, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__control--squares-block .wp-block-mg-block-slider-slider__control__dot--current {
  background-color: var(--slider--items--secondary);
}
.wp-block-mg-block-slider-slider:not(:hover) .wp-block-mg-block-slider-slider__container.control-nav--is-hidden ~ .wp-block-mg-block-slider-slider__control__dots {
  height: 0;
  overflow: hidden;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails {
  width: 100%;
  max-height: 120px;
  transition: transform var(--slider--transition-duration--controls), max-height var(--slider--transition-duration--controls);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb {
  display: flex;
  flex: 1 1 100%;
  height: auto;
  max-height: 100%;
  margin: 0;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb--current img, .wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb:hover img {
  filter: grayscale(0);
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb:first-child {
  margin-left: auto;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb:last-child {
  margin-right: auto;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb--img {
  background: url(../img/img-thumb.jpg) no-repeat center/cover;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails .wp-block-mg-block-slider-slider__thumb--video {
  background: url(../img/video-thumb.jpg) no-repeat center/cover;
}
.wp-block-mg-block-slider-slider .wp-block-mg-block-slider-slider__thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 300ms;
  filter: grayscale(1);
  cursor: pointer;
}
.wp-block-mg-block-slider-slider:not(:hover) .wp-block-mg-block-slider-slider__container.thumbnails-nav--is-hidden ~ .wp-block-mg-block-slider-slider__thumbnails {
  max-height: 0;
  transform: translate3d(0, -100%, 0);
}
.wp-block-mg-block-slider-slider__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: calc(var(--slider--z-index--controls) + 10);
  background-color: var(--slider--items--primary);
  opacity: 0.95;
}
.wp-block-mg-block-slider-slider__loading p {
  width: 40px;
  height: 40px;
  margin: 0;
  background: url(../img/spinner-dark.svg) no-repeat center/contain;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.wp-block-mg-block-slider-slider.dark-theme {
  --slider--items--primary: #111111;
  --slider--items--secondary: #ffffff;
  --slider--items--background: rgba(17, 17, 17, 0.85);
}
.wp-block-mg-block-slider-slider.dark-theme .wp-block-mg-block-slider-slider__control__arrow {
  background-image: url(../img/arrow-dark.svg);
}
.wp-block-mg-block-slider-slider.dark-theme .wp-block-mg-block-slider-slider__control--squares .wp-block-mg-block-slider-slider__control__arrow, .wp-block-mg-block-slider-slider.dark-theme .wp-block-mg-block-slider-slider__control--circles .wp-block-mg-block-slider-slider__control__arrow {
  background-color: var(--slider--items--background);
  background-image: url(../img/arrow.svg);
}
.wp-block-mg-block-slider-slider.dark-theme .wp-block-mg-block-slider-slider__loading p {
  background-image: url(../img/spinner.svg);
}

.screen-reader-text {
  width: 1px;
  height: 1px;
  position: absolute !important;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  display: block;
  width: auto;
  height: auto;
  top: 5px;
  left: 5px;
  z-index: 100000;
  padding: 15px 23px 14px;
  line-height: normal;
  color: #444;
  background-color: #eee;
  font-size: 1em;
  text-decoration: none;
  clip: auto !important;
  clip-path: none;
}
/*# sourceMappingURL=slider.css.map */
