//
// Dark theme
//

&.dark-theme {
	--slider--items--primary: #111111;
	--slider--items--secondary: #ffffff;
	--slider--items--background: rgba(17, 17, 17, 0.85);

	// Controls.
	.wp-block-mg-block-slider-slider__control {
		&__arrow {
			background-image: url(../img/arrow-dark.svg);
		}

		&--squares,
		&--circles {
			.wp-block-mg-block-slider-slider__control__arrow {
				background-color: var(--slider--items--background);
				background-image: url(../img/arrow.svg);
			}
		}
	}

	// Loading.
	.wp-block-mg-block-slider-slider__loading p {
		background-image: url(../img/spinner.svg);
	}
}
