//
// Slides
//

// Slides and arrows container.
// Animate only the slides next to each others.
.wp-block-mg-block-slider-slides__container {
	&--next,
	&--prev {
		.wp-block-mg-block-slider-slide {
			transition-duration: inherit;
		}
	}

	&--next .wp-block-mg-block-slider-slide__next,
	&--prev .wp-block-mg-block-slider-slide__prev {
		transition: none;
	}

	// Only if the slider has 2 slides.
	&--2-slides {
		.wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current) {
			transform: translate3d(-100%, 0, 0);
		}

		.wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
			transform: translate3d(100%, 0, 0);
		}
	}

	// Hide background slides.
	&:not(&--2-slides) .wp-block-mg-block-slider-slide {
		&:not(&__current, &__prev, &__next) {
			opacity: 0;
		}
	}
}

.wp-block-mg-block-slider-slide {
	width: 100%;
	height: 100%;
	min-height: inherit;
	z-index: 0;
	padding: 0;
	margin: 0;
	background-color: var(--slider--items--primary);
	transition-timing-function: inherit;
	transition-property: transform, border-radius, z-index, box-shadow;
	touch-action: pan-y;

	// Every slide except the current are absolutes.
	&:not(&__current) {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
	}

	&__prev,
	&__next {
		z-index: 1;
	}

	&__current {
		z-index: 5;
		transform: translate3d(0, 0, 0);
	}

	// Reset margin for the first elements inside the slide.
	> * {
		margin: 0;
	}
}

//
// Minimum height for all slides
// ----------------------------------------------
&.auto-height .wp-block-mg-block-slider-slide > * {
	height: 100%;
}

//
// Slides animations
// ----------------------------------------------
.wp-block-mg-block-slider-slider__container {
	// Slide.
	&.is-slide .wp-block-mg-block-slider-slide {
		&__prev {
			transform: translate3d(-100%, 0, 0);
		}

		&__next {
			transform: translate3d(100%, 0, 0);
		}
	}

	// Fade.
	&.is-fade {
		.wp-block-mg-block-slider-slide {
			opacity: 0;
			transition-property: opacity;

			&__current {
				opacity: 1;
			}
		}

		// Only if the slide has 2 slides.
		.wp-block-mg-block-slider-slides__container--2-slides {
			.wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current),
			.wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	// Cards.
	&.is-cards .wp-block-mg-block-slider-slide {
		&:not(.wp-block-mg-block-slider-slide__current, .wp-block-mg-block-slider-slide__next) {
			z-index: -1000;
			overflow: hidden;
			border-radius: 8px;
			transform: scale(0.96);
		}

		&__current {
			box-shadow: -26px 0 10px -14px rgba(#000, 0.15);
		}

		&__next {
			transform: translate3d(100%, 0, 0);
		}
	}
}

//
// Vertical animations
// ----------------------------------------------
.wp-block-mg-block-slider-slider__container.is-vertical {
	// Slide.
	&.is-slide {
		.wp-block-mg-block-slider-slide {
			&__prev {
				transform: translate3d(0, -100%, 0);
			}

			&__next {
				transform: translate3d(0, 100%, 0);
			}
		}

		// Only if the slide has 2 slides.
		.wp-block-mg-block-slider-slides__container--2-slides {
			.wp-block-mg-block-slider-slide:first-child:not(.wp-block-mg-block-slider-slide__current) {
				transform: translate3d(0, -100%, 0);
			}

			.wp-block-mg-block-slider-slide:last-child:not(.wp-block-mg-block-slider-slide__current) {
				transform: translate3d(0, 100%, 0);
			}
		}
	}

	// Cards.
	&.is-cards {
		.wp-block-mg-block-slider-slide__next {
			transform: translate3d(0, 100%, 0);
		}
	}
}
